nav {
  position: fixed;
  z-index: 2;
  display: flex;
  flex-direction: column;
  background-color: white;
  //min-height: 100vh;
  height: 100vh;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);


  .login-buttons {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex: 1;

    .button {
      background-color: #448AFF;
      color: white;
      border-radius: .25rem;
      padding: .25rem 1rem;
      margin: 1rem 1rem;
      max-width: 6rem;
      align-self: flex-end;

      &--logout {
        display: flex;
        flex-direction: row;
        padding: .5rem;
        max-width: 8rem;

        &:hover {
          background-color: #FF7777;
        }

        p {
          padding: 0 0 0 1rem;
        }
      }
    }

    a {
      display: inline-block;
      font-size: 1rem;
      padding: .5rem 0;
    }
  }

  a {
    padding: 1.25rem 0;
    background-color: white;
    font-size: 1.25rem;
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
    color: black;
    text-align: left;
    transition: .2s;

    &.active {
      background-color: #C5DAFF;
    }

    p {
      padding: 0 2.5rem;
    }

    img {
      justify-self: center;
      padding-right: 1.5rem;
      height: 1.25rem;
    }
  }
}