.category-name {
  border: 1px solid #282828;
  &--error {
    border: 1px solid red;
  }
}

.category {
  display: grid;
  grid-template-columns: 3fr 1fr;
  box-shadow: 0 0 6px gray;
  justify-content: center;
  align-content: center;
  margin: 1rem 0;
  padding: .65rem;
  width: 100%;
  transition: .2s;
  cursor: pointer;

  &:hover {
    transform: scale(1.1);
  }

  .button {
    align-self: end;
    justify-self: end;
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
  }
}