.category-name {
  border: 1px solid #282828;

  &--error {
    border: 1px solid red;
  }
}

.category {
  display: flex;
  flex-direction: row;
  box-shadow: 0 0 3px gray;
  border-radius: .5rem;
  justify-content: center;
  align-items: center;
  margin: 1rem 1rem 1rem 0;
  padding: .65rem 1rem;
  transition: .2s;
  cursor: pointer;

  &:hover {
    transform: scale(1.05);
  }

  .button {
    margin-top: .2rem;
    margin-left: 1rem;
  }
}