.expense {
  display: grid;
  grid-template-columns: 2rem repeat(6, 1fr) 3rem;
  width: 100%;
  align-items: center;
  justify-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, .15);
  font-size: .9rem;
  transition: .2s;

  div {
    p {
      font-size: .8rem;
    }
  }

  input, select, option {
    width: 80%;
  }

  p {
    padding: .75rem;
  }

  &--chosen {
    background-color: #C5DAFF;
  }
}