.history {
  width: 100%;

  .buttons {
    margin-top: 1rem;
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;

    .button--pages {
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;


      height: 1.75rem;
      width: 1.75rem;
      border-radius: 50%;

      img {
        transition: .3s;
      }

      &::before {
        content: '';
        position: absolute;
        height: 0;
        width: 0;
        border-radius: 50%;
        background-color: #448AFF;
        z-index: -1;
        transition: .3s;
      }
        &:hover {
          img {
            filter: invert(1);
          }
          &::before {
            height: 1.75rem;
            width: 1.75rem;
        }
      }
    }
  }
  .pages {
    margin: 0 1rem;
  }

  &__buttons {
    display: flex;
    flex-direction: row;

    .button {
      margin: 0 0 1rem 0;

      &+.button {
        margin-left: 1.25rem;
      }
    }
  }

  .table {
    &__header {
      color: white;
      font-weight: bold;
      font-size: 1rem;
      background-color: #448AFF;
      display: grid;
      grid-template-columns: 2rem repeat(6, 1fr) 3rem;
      width: 100%;

      input {
        align-self: center;
        justify-self: center;
        height: 100%;
        width: 100%;
      }
      &__item {
        display: flex;
        flex-direction: row;
        text-align: center;
        padding: .25rem 0;
        p {
          margin: 0 auto;
        }
      }

      p {
        padding: .5rem;
      }
    }
  }
}