.history {
  width: 100%;

  &__buttons {
    display: flex;
    flex-direction: row;

    .button {
      margin: 0 0 1rem 0;

      &+.button {
        margin-left: 1.25rem;
      }
    }
  }

  .table {
    &__header {
      color: white;
      font-weight: bold;
      font-size: 1rem;
      background-color: #448AFF;
      display: grid;
      grid-template-columns: 2rem repeat(6, 1fr) 3rem;
      width: 100%;

      input {
        align-self: center;
        justify-self: center;
        height: 100%;
        width: 100%;
      }
      &__item {
        display: flex;
        flex-direction: row;
        text-align: center;
        padding: .25rem 0;
        p {
          margin: 0 auto;
        }
      }

      p {
        padding: .5rem;
      }
    }
  }
}